
<div class="navbar navbar-dark bg-primary navbar-expand-md">
<a href="" class="navbar-brand" active>TC ContactApp</a>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon">
        
      </span>
    </button>
    <div class="navbar-collapse collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink="/contacts/login" class="nav-link" active><i class="fa fa-sign-in">&nbsp;</i>SignUp</a>
        </li>
        
        <li class="nav-item">
            <a routerLink="/contacts/save" class="nav-link" active><i class="fa fa-sign-in">&nbsp;</i>Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contacts/home" class="nav-link" active><i class="fa fa-home">&nbsp;</i>Home</a>  
        </li>
       
          <li class="nav-item">
            <a routerLink="/contacts/login"  class="nav-link" active><i class="fa fa-sign-out-alt">&nbsp;</i>logout</a>
            
         </li>
      </ul>
    </div>
    
    
    
    
    </div>
    
<router-outlet></router-outlet>





