.card{
    top:60%;
    left:40%;
    width:435px;
    padding:31px 40px;
    transform:translate(-50%,-50%);
    border:1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(45deg,#20E2D7 0%,pink 100%);
}
.image{
    width: 500px;
    margin-bottom:100px;
    height: 200px;
}
h5{
    width:600px;
    font-size: 21px;
}